{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="collection-container">
  <div class="collection-img">
    <img 
      src="{{ collection.banner_url }}" 
      alt=""
    >
  </div>
  <div class="collection-details">
    <h1>{{ collection.name }}</h1>
    <p>No. of Editors: {{ collection.num_editors }}</p>
    <p>No. of Traits: {{ collection.num_traits }}</p>
    <p>Created On: {{ collection.created_date }}</p>
    <p>Total Sales: {{ collection.total_sales }}</p>
    <p>No. of NFTs: {{ collection.num_nfts }}</p>
    <p>No. of Owners: {{ collection.num_owners }}</p>
    <p>Avg. Price: {{ collection.average_price }}</p>
    <p>Seven-Day Sales: {{ collection.seven_day_sales }}</p>
    <p>Has Discord?: {{ collection.has_discord }}</p>
    <p>Has Twitter?: {{ collection.has_twitter }}</p>
    <p>Has Instagram?: {{ collection.has_instagram }}</p>
    <p>Has Wiki?: {{ collection.has_wiki }}</p>
    <p>No. of Description Words: {{ collection.description_words }}</p>
    <p>Cluster: {{ collection.cluster }}</p>
  </div>
</section>

{% endblock %}