{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="page-header">
  <h1>Collection List</h1>
</section>

<section class="card-container">
  {% for collection in collections %}
    <div class="card">
      <a href="/collections/{{ collection.id }}">
        <div class="card-content">
          <div class="card-img-container">
            <h2 class="card-title">{{ collection.name }}</h2>
            <img 
              src="{{collection.banner_url}}" 
              alt=""
            >
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}